<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Bee Home</title>
</head>
<body>
    <div id="header">
        <h1>Hive production</h1>
    </div>
    <div id="body">
        <div id="demo">
            <div>
                {{lastProduction.date}}
            </div>
            par semaine<br>
            <div v-for="prodWeek in productionsByWeek" :key="prodWeek.date">
                {{prodWeek.date}}
            </div>
            par mois<br>
            <div v-for="prodMonth in productionsByMonth" :key="prodMonth.date">
                {{prodMonth.date}}
            </div>
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    
    var demo = new Vue({
        el: '#demo',
        data: {
            datas: '',
            lastProduction: '',
            productionsByWeek: '',
            productionsByMonth: ''
        },
        created () {
            this.fetchData()
        },
        methods: {
            fetchData() {
                var requestOptions = {
                method: 'GET',
                redirect: 'follow'
                };

                fetch("http://localhost:3004/lastProduction", requestOptions)
                    .then(response => response.json())
                    .then(result => {
                        console.log(result)
                        this.lastProduction = result
                    })
                    .catch(error => console.log('error', error));

                fetch("http://localhost:3004/productionsByWeek", requestOptions)
                    .then(response => response.json())
                    .then(result => {
                        console.log(result)
                        this.productionsByWeek = result
                    })
                    .catch(error => console.log('error', error));

                fetch("http://localhost:3004/productionsByMonth", requestOptions)
                    .then(response => response.json())
                    .then(result => {
                        console.log(result)
                        this.productionsByMonth = result
                    })
                    .catch(error => console.log('error', error));
                
                
                fetch("http://localhost:3004/addProduction", requestOptions)
                    .then(response => response.json())
                    .then(result => {
                        console.log(result)
                        this.productionsByMonth = result
                    })
                    .catch(error => console.log('error', error));
            }
        }
    })
</script>
</html>